<ion-view view-title="Week {{ week }}">
  <ion-nav-buttons side="left">
    <!-- copy/paste from menu -->
    <button class="button button-icon button-clear ion-navicon notifiable" menu-toggle="left" ng-class="{ notify: hasAppUpdate }">
      <i class="notifier stable"></i>
    </button>

    <button class="button button-icon button-clear ion-android-arrow-back" ui-sref="app.scoreboards({ leagueId: leagueId, week: week })"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-refresh-empty" ng-click="refresh()" ng-class="{ 'ion-ios7-reloading': ajaxing }"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh... <small>(once per {{ settings.refreshRate / 1000 }} sec)</small>" on-refresh="refresh()"></ion-refresher>
    <div id="game-summary" class="row">
      <div class="col col-50 left-side">
        <h4 class="team-name one-liner">
          {{ awayTeam.team.name }}
        </h4>
        <div class="row scoring-summary">
          <div class="col-75 scoring-values">
            <div class="scoring-total title">
              <span class="remaining">
                ({{ awayTeam.summary.playerTimeRemaining }})
              </span>
              <span class="">
                {{ awayTeam.summary.totalPoints | toFixed:2 }}
              </span>
            </div>
            <div class="projected-points">
              {{ awayTeam.summary.projectedPoints | toFixed:2 }}
            </div>
          </div>
          <div class="col-25 team-image">
            <img ng-src="{{ awayTeam.team | teamLogo }}" width="90%" />
          </div>
        </div>
      </div>
      <div class="col col-50 right-side">
        <h4 class="team-name one-liner">
          {{ homeTeam.team.name }}
        </h4>
        <div class="row scoring-summary">
          <div class="col-25 team-image">
            <img ng-src="{{ homeTeam.team | teamLogo }}" width="90%" />
          </div>
          <div class="col-75 scoring-values">
            <div class="scoring-total title">
              <span class="">
                {{ homeTeam.summary.totalPoints | toFixed:2 }}
              </span>
              <span class="remaining">
                ({{ homeTeam.summary.playerTimeRemaining }})
              </span>
            </div>
            <div class="projected-points">
              {{ homeTeam.summary.projectedPoints | toFixed:2 }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="last-updated">
      <div ng-show="ajaxing">
        loading...
      </div>
      <div ng-hide="ajaxing || !lastUpdatedAgo">
        <em>updated {{ lastUpdatedAgo }} ago (pull to refresh)</em>
      </div>
    </div>
    <div id="player-scoring">
      <div class="list" ng-repeat="(status, positions) in playerScoringData">
        <div class="item item-divider text-center">
          {{ status }}
        </div>
        <div class="player-score" ng-repeat="(position, players) in positions">
          <div class="item" ng-repeat="playerData in players track by $index">
            <div class="row row-center player-comparison">
              <div class="col col-player" ng-click="playerInfo(playerData.away)" highlighter="playerData.away.points" ng-class="{ 'yet-to-play': (playerData.away.game | nflGameYetToStart), 'is-final': (playerData.away.game | isGameFinal), 'on-bye': (playerData.away.game | isByeWeek) }">
                <div class="row">
                  <div class="col player-name one-liner">
                    {{ (playerData.away.player | playerDisplayName) || '&nbsp;' }}
                    <span class="player-team">
                      {{ playerData.away.player | nflTeam }}
                    </span>
                  </div>
                </div>
                <div class="row row-bottom">
                  <div class="col col-points player-points number positive">
                    <span class="total-points">
                      {{ (playerData.away.points | toFixed:2) || '&nbsp;' }}
                    </span>
                    <span class="projected-points">
                      {{ (playerData.away.projectedPoints | toFixed:2) || '&nbsp;' }}
                    </span>
                  </div>
                  <div class="col col-name">
                    <div class="player-game-status one-liner dark">
                      {{ playerData.away.game | nflGameSummary }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col player-stats one-liner">
                    {{ playerData.away.statLine || '&nbsp;' }}
                  </div>
                </div>
              </div>
              <div class="col col-position player-position">
                {{ position }}
              </div>
              <div class="col col-player" ng-click="playerInfo(playerData.home)" highlighter="playerData.home.points" ng-class="{ 'yet-to-play': (playerData.home.game | nflGameYetToStart), 'is-final': (playerData.home.game | isGameFinal), 'on-bye': (playerData.home.game | isByeWeek) }">
                <div class="row">
                  <div class="col player-name one-liner">
                    {{ (playerData.home.player | playerDisplayName) || '&nbsp;' }}
                    <span class="player-team">
                      {{ playerData.home.player | nflTeam }}
                    </span>
                  </div>
                </div>
                <div class="row row-bottom">
                  <div class="col col-name">
                    <div class="player-game-status one-liner dark">
                      {{ playerData.home.game | nflGameSummary }}
                    </div>
                  </div>
                  <div class="col col-points player-points number">
                    <span class="total-points">
                      {{ (playerData.home.points | toFixed:2) || '&nbsp;' }}
                    </span>
                    <span class="projected-points">
                      {{ (playerData.home.projectedPoints | toFixed:2) || '&nbsp;' }}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col player-stats one-liner">
                    {{ playerData.home.statLine || '&nbsp;' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
