<ion-view view-title="Help">
  <ion-content padding="true">
    <p>
      This app is a work in progress and new updates are rolling out regularly.
      If you see something that looks off, let us know, we will usually fix it
      by kickoff of the following week.
    </p>
<!--
    <p>
      Fill out this form with any problems you are seeing.
    </p>
    <p class="positive" ng-show="ajaxing === true">
      Submitting feedback...
    </p>
    <form ng-submit="submitForm()" ng-show="ajaxing === undefined">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Issue</span>
          <textarea ng-model="helpData.issueText" rows="5"></textarea>
        </label>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" ng-model="helpData.respondViaEmail">
           </label>
           Requires response (by email)
        </li>
        <label class="item item-input" ng-hide="loginData.email || !helpData.respondVieEmail">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">
            Submit
          </button>
        </label>
      </div>
    </form>
-->
    <p>
      for login, scoring, or site issues, email the team:
      <button ng-click="launch('mailto:inquiries@realitysportsonline.com')" class="button button-block button-positive">
        inquiries@realitysportsonline.com
      </button>
    </p>

    <p>
      for anything app related, email our app team:
      <button ng-click="launch('mailto:realitysportsapp@gmail.com')" class="button button-outline button-block button-positive">
        realitysportsapp@gmail.com
      </button>
    </p>

    <p>
      want to shout out the app developer?:
      <button ng-click="launch('twitter://user?screen_name=pnewell4')" class="button button-outline button-block button-positive">
        @pnewell4
      </button>
    </p>
  </ion-content>
</ion-view>
