<ion-view view-title="Leagues">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-ios-refresh-empty" ng-click="refresh()" ng-class="{ 'ion-ios7-reloading': ajaxing }"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <div class="last-updated">
      <div ng-show="ajaxing">
        loading...
      </div>
      <div ng-hide="ajaxing || !lastUpdatedAgo">
        <em>updated {{ lastUpdatedAgo }} ago (pull to refresh)</em>
      </div>
    </div>
    <ion-list>
      <div class="item item-divider">
        Choose your league:
      </div>
      <div class="item" ng-repeat="league in leagues" ui-sref="app.scoreboards-for-this-week({ leagueId: league.leagueId })">
        <div class="league">
          {{ league.name }}
          ({{ league.teamName }})
        </div>
        <!-- <pre>{{ league | json }}</pre> -->
      </div>
    </ion-list>
  </ion-content>
</ion-view>
