<ion-side-menus enable-menu-with-back-views="true" ng-class="{ 'performing-action': indicators.ajaxing }">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable action-indicator-bar">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon notifiable" menu-toggle="left" ng-class="{ notify: hasAppUpdate }">
          <i class="notifier stable"></i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
<!--
    <ion-footer-bar class="dark ad-banner-draft-kings">
      <a href="http://partners.draftkings.com/aff_c?offer_id=124&amp;aff_id=593752" target="_blank" class="block ad-banner">
        <img src="https://www.draftkings.com/_raptor/images/dk-logo-new.png" height="57" />
        <span class="support">support me:</span>
        tap here the next time you add to your Draft Kings account
      </a>
    </ion-footer-bar>
-->
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1> <!-- current league name -->
    </ion-header-bar>

    <ion-content>
    <!-- <ion-content has-footer="true"> -->
      <ion-list>
        <ion-item menu-close ui-sref="app.league-for-current-league">
          <i class="icon ion-tshirt"></i>
          League
        </ion-item>

        <ion-item menu-close ui-sref="app.scoreboards-for-current-league">
          <span class="padding"></span>
          <i class="icon ion-flash"></i>
          Scoreboard
        </ion-item>

        <ion-item menu-close ui-sref="app.news-for-current-league">
          <span class="padding"></span>
          <i class="icon ion-ios-paper-outline"></i>
          News
        </ion-item>

        <ion-item menu-close ui-sref="app.transactions-for-current-league">
          <span class="padding"></span>
          <i class="icon ion-shuffle"></i>
          Transactions
        </ion-item>

        <ion-item menu-close ui-sref="app.standings-for-current-league">
          <span class="padding"></span>
          <i class="icon ion-trophy"></i>
          Standings
        </ion-item>

        <ion-item menu-close ui-sref="app.leagues">
          <span class="padding"></span>
          <i class="icon ion-arrow-swap"></i>
          Switch Leagues
        </ion-item>

        <ion-item menu-close ui-sref="app.team-for-current-league">
          <i class="icon ion-tshirt"></i>
          My Team
        </ion-item>

        <ion-item menu-close ui-sref="app.team-news-for-current-league">
          <span class="padding"></span>
          <i class="icon ion-ios-paper-outline"></i>
          News
        </ion-item>

        <ion-item menu-close ui-sref="app.roster-for-current-league">
          <span class="padding"></span>
          <i class="icon ion-person-stalker"></i>
          Roster
        </ion-item>

        <ion-item menu-close ui-sref="app.players-for-current-league">
          <i class="icon ion-search"></i>
          Player Search
        </ion-item>

<!--
        <ion-item menu-close ui-sref="app.news">
          <i class="icon ion-ios-paper-outline"></i>
          My News
        </ion-item>
-->
        <ion-item class="item-divider"></ion-item>
        <ion-item menu-close ui-sref="app.help">
          <i class="icon ion-ios-help-outline assertive"></i>
          Help
        </ion-item>

        <ion-item menu-close ui-sref="app.updates">
          <i class="icon ion-ios-cloud-download-outline positive"></i>
          <span ng-show="hasAppUpdate">
            New features are waiting
          </span>
          <span ng-hide="hasAppUpdate">
            Check for app updates
          </span>
          <span class="badge badge-assertive" ng-show="hasAppUpdate">1</span>
        </ion-item>
        <ion-item menu-close ui-sref="app.login" ng-hide="loggedInState">
          <i class="icon ion-log-in"></i>
          Log In
        </ion-item>
        <ion-item menu-close ui-sref="app.logout" ng-show="loggedInState">
          <i class="icon ion-log-out"></i>
          Log Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right"> <!-- is-enabled="showRightMenu" expose-aside-when="large"> -->
    <ion-header-bar class="bar-dark">
      <h1 class="title">Player Search</h1>
    </ion-header-bar>

    <ion-content padding="true" class="dark-bg" drag-content="false">
      <rso-player-search-filters></rso-player-search-filters>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
