<ion-view view-title="League News">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <div class="last-updated">
      <div ng-show="ajaxing">
        loading...
      </div>
      <div ng-hide="ajaxing || !lastUpdatedAgo">
        <em>updated {{ lastUpdatedAgo }} ago (pull to refresh)</em>
      </div>
    </div>

    <div ng-hide="ajaxing">
      <div class="info-page-content" ng-show="articles | none">
        <h3>Nope</h3>

        <p>
          No news for week {{ week }}
        </p>
      </div>
    </div>

    <rsa-article
      ng-repeat="article in unreadArticles"
      article="article"
      league-id="leagueId"
    ></rsa-article>

    <div class="unread-news" ng-show="readArticles | any">
      <span class="unread-news__label">
        //
        <span ng-show="unreadArticles | any">end</span>
        <span ng-hide="unreadArticles | any">no new</span>
        unread news
      </span>
    </div>

    <rsa-article
      ng-repeat="article in readArticles"
      article="article"
      league-id="leagueId"
    ></rsa-article>
  </ion-content>
</ion-view>
