<ion-view view-title="Players">
  <ion-nav-buttons side="secondary">
    <button
      class="button button-icon button-clear"
      ng-class="{ 'button-dark ion-ios-settings': !filtered, 'button-balanced ion-ios-settings-strong': filtered }"
      menu-toggle="right">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div ng-if="!playerStatsData" class="padding">
      <span nf-show="ajaxing">loading...</span>
    </div>

    <div class="player-list__container" ng-show="playerStatsData">
      <rso-player-search-results
        player-stats-data="playerStatsData"
        on-player-click="showPlayerDetails(player)"
        on-team-click="goToTeam(teamId)"
        class-name="player-list__overlay">
      </rso-player-search-results>

      <ion-scroll direction="x">
        <rso-player-search-results
          player-stats-data="playerStatsData"
          on-player-click="showPlayerDetails(player)"
          on-team-click="goToTeam(teamId)"
          class-name="player-list__data">
        </rso-player-search-results>
      </ion-scroll>
    </div>

    <wip-wip-wip></wip-wip-wip>
  </ion-content>
</ion-view>
