<ion-view>
  <ion-nav-title>
    {{ (player | playerFullName) || 'loading...' }}
  </ion-nav-title>

  <ion-nav-buttons ng-if="false"><!-- unreliable -->
    <button class="button button-clear" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>
      Back
    </button>
  </ion-nav-buttons>

  <ion-content padding="true">
    <rso-player-detail
      player="player"
      league-id="leagueId"
      player-id="playerId"
      on-request="beginIndicateAjaxing()"
      on-complete="endIndicateAjaxing()"
      on-error="retryOnRsoError(response)">
    </rso-player-detail>
  </ion-content>
</ion-view>
