<ion-view view-title="Players">
  <ion-nav-buttons side="secondary">
    <button
      class="button button-clear button-icon-label"
      ng-class="{ 'button-dark ion-ios-settings': !filtered, 'button-balanced ion-ios-settings-strong': filtered }"
      menu-toggle="right">
      <em class="label">Filters</em>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div ng-show="playerStatsData | none" class="padding">
      <span ng-show="ajaxing">loading...</span>

      <div ng-hide="ajaxing">
        <div>
          No results for:
        </div>

        <button class="button button-clear icon-right ion-close-circled" ng-show="filters.txtSearch != defaultFilters.txtSearch" ng-click="clearTxtSearch()">
          {{ filters.txtSearch }}
        </button>

        <button class="button button-clear icon-right ion-close-circled" ng-show="filters.playerFilter != defaultFilters.playerFilter" ng-click="clearPlayerFilter()">
          {{ filters.playerFilter }}
        </button>

        <button class="button button-clear icon-right ion-close-circled" ng-show="filters.posFilter != defaultFilters.posFilter" ng-click="clearPosFilter()">
          {{ filters.posFilter }}
        </button>
      </div>
    </div>

    <div class="player-list__container" ng-show="playerStatsData | any">
      <rso-player-search-results
        player-stats-data="playerStatsData"
        on-player-click="showPlayerDetails(player)"
        on-team-click="goToTeam(teamId)"
        class-name="player-list__overlay">
      </rso-player-search-results>

      <ion-scroll direction="x">
        <rso-player-search-results
          player-stats-data="playerStatsData"
          on-player-click="showPlayerDetails(player)"
          on-team-click="goToTeam(teamId)"
          class-name="player-list__data">
        </rso-player-search-results>
      </ion-scroll>
    </div>

    <wip-wip-wip></wip-wip-wip>
  </ion-content>
</ion-view>
