<ion-view view-title="Scoreboard">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-ios-refresh-empty" ng-click="refresh()" ng-class="{ 'ion-ios7-reloading': ajaxing }"></button>
  </ion-nav-buttons>
  <ion-content has-subheader>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <div class="subheader">
      <rsa-week-chooser on-choose-week="setWeek(week)" week="week" first-week="1" last-week="16"></rsa-week-chooser>
    </div>
    <div class="last-updated">
      <div ng-show="ajaxing">
        loading...
      </div>
      <div ng-show="blocked">
        hold yer horses there cowboy (1 per {{ settings.refreshRate / 1000 }}sec)
      </div>
      <div ng-hide="blocked || ajaxing || !lastUpdatedAgo">
        <em>updated {{ lastUpdatedAgo }} ago (pull to refresh)</em>
      </div>
    </div>
    <ion-list class="scoreboards">
      <div class="loading-page-content" ng-show="boxScores | none">
        <h3>Loading...</h3>
        <p>
          this can take a little while the first time the page loads
        </p>
      </div>
      <ion-item ng-repeat="boxScore in boxScores" ng-class="{ 'current-user-box-score': (boxScore | boxScoreForTeam:currentLeague.team.teamId) }">
        <rsa-box-score league-id="leagueId" week="week" box-score="boxScore"></rsa-box-score>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
