<ion-view view-title="Scoreboard">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-ios-refresh-empty" ng-click="refresh()" ng-class="{ 'ion-ios7-reloading': ajaxing }"></button>
  </ion-nav-buttons>
  <ion-content has-subheader>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <div class="subheader">
      <ion-scroll direction="x" class="wide-as-needed">
        <div class="button-bar button-bar-inline week-picker">
          <a ng-repeat="weekNumber in [] | range:1:16"
            ui-sref="app.scoreboards({ leagueId: leagueId, week: weekNumber })"
            ui-sref-opts="{ location: 'replace' }"
            class="button"
            ng-class="{ 'button-positive': weekNumber == week }"
          >
            <span class="tiny label">Week</span>
            {{ weekNumber }}
          </a>
        </div>
      </ion-scroll>
    </div>
    <div class="last-updated">
      <div ng-show="ajaxing">
        loading...
      </div>
      <div ng-show="blocked">
        hold yer horses there cowboy (1 per {{ settings.refreshRate / 1000 }}sec)
      </div>
      <div ng-hide="blocked || ajaxing || !lastUpdatedAgo">
        <em>updated {{ lastUpdatedAgo }} ago (pull to refresh)</em>
      </div>
    </div>
    <ion-list class="scoreboards">
      <div class="loading-page-content" ng-show="boxScores | none">
        <h3>Loading...</h3>
        <p>
          this can take a little while the first time the page loads
        </p>
      </div>
      <div class="item" ng-repeat="boxScore in boxScores" ui-sref="app.game({ leagueId: leagueId, week: boxScore.week, gameId: boxScore.gameId })">
        <div class="scoreboard">
          <div class="row row-middle">
            <div class="col col-75 team-name">
              {{ boxScore.awayTeam.team.name }}
            </div>
            <div class="col col-25 number">
              {{ boxScore.awayTeam.summary.totalPoints | toFixed:2 }}
            </div>
          </div>
          <div class="row">
            <div class="col col-75 team-name">
              {{ boxScore.homeTeam.team.name }}
            </div>
            <div class="col col-25 number">
              {{ boxScore.homeTeam.summary.totalPoints | toFixed:2 }}
            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
