<ion-view view-title="Standings for Week {{ week }}">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear ion-ios-refresh-empty" ng-click="refresh()" ng-class="{ 'ion-ios7-reloading': ajaxing }"></button>
  </ion-nav-buttons>
  <ion-content has-subheader>
    <div class="subheader">
      <rsa-week-chooser on-choose-week="setWeek(week)" week="week" first-week="1" last-week="16"></rsa-week-chooser>
    </div>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <div class="subheader">
      <div class="row stable-bg">
        <div class="col col-10 standing-rank">
          &nbsp;
        </div>
        <div class="col col-50 team-name standing-team">
          <strong>Team</strong>
        </div>
        <div class="col col-20 standing-record text-center">
          <strong>Record</strong>
        </div>
        <div class="col col-20 standing-points text-right">
          <strong>Pts</strong>
        </div>
      </div>
    </div>
    <div class="loading-page-content" ng-show="divisionStandings | none">
      <h3>Loading...</h3>
      <p>
        this can take a little while the first time the page loads
      </p>
    </div>
    <div class="info-page-content" ng-show="summary.available === false">
      <h3>Nope</h3>
      <p ng-show="week > 1">
        standings are only available once all week {{ week }} games have completed
      </p>
      <p ng-show="week <= 1">
        no standings before week 1
      </p>
    </div>
    <div ng-show="divisionStandings | any">
      <div ng-repeat="division in divisionStandings">
        <div class="row" ng-show="summary.hasDivisions">
          <div class="col text-center">
            <strong>{{ division.division.name }}</strong>
          </div>
        </div>
        <div ng-repeat="standing in division.teamStandings track by $index" ui-sref="app.team({ leagueId: leagueId, teamId: standing.team.teamId })" class="standings">
          <div class="row row-center" ng-class="{ 'stable-bg': $index % 2, 'highlightable highlight': standing.points == summary.maxPoints }">
            <div class="col col-10 standing-rank text-right">
              {{ standing.rank }}
            </div>
            <div class="col col-50 team-name standing-team one-liner">
              <div class="row row-center row-no-padding">
                <div class="col col-1-6 team-image">
                  <img ng-src="{{ standing.team | teamLogo }}" width="90%" />
                </div>
                <div class="col col-5-6">
                  <strong>{{ standing.team.name }}</strong>
                </div>
              </div>
            </div>
            <div class="col col-20 standing-record text-center">
              {{ standing | teamRecord:summary.hasTies }}
            </div>
            <div class="col col-20 standing-points text-right">
              {{ standing.points | toFixed:2 | separateThousands }}
            </div>
          </div>
        </div>
      </div>
      <p class="last-updated" ng-show="summary.available">
        <em>points leader is highlighted</em>
      </p>
    </div>
  </ion-content>
</ion-view>
