<ion-view view-title="Throw Me a Bone">
  <ion-content padding="true">
    <p><br/><br/></p>
    <p>
      If you already play, or are planning to try Draft Kings, do me a favor:
      <br/>
      <br/>
      <a href="http://partners.draftkings.com/aff_c?offer_id=124&amp;aff_id=593752" target="_blank" class="button button-block button-balanced">
        Use my Draft Kings affiliate link
      </a>
      <br/>
      When you do (and add money to your account), they pay me.  It doesn't cost you a thing.
    </p>
  </ion-content>
</ion-view>
