<ion-view view-title="Team<sup class='assertive'>PUP</sup>">
  <ion-content padding="true">
    <p>
      Coming soon.
    </p>
    <p>
      We haven't built this page yet because some other pages took priority.
      We keep track of the number of people who view this page.
      The more it's viewed, the more we know it's important.
    </p>
    <button ng-click="launchRsoPage('SetLineup.aspx?viewingTeam={{ teamId }}')" class="button button-outline button-block button-positive">
      <span class="icon ion-ios-browsers-outline"></span>
      Open in Browser
    </button>
  </ion-content>
</ion-view>
