<ion-view view-title="Transactions">
  <ion-content has-subheader>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
    <div class="subheader">
      <rsa-week-chooser on-choose-week="setWeek(week)" week="week" first-week="1" last-week="17"></rsa-week-chooser>
    </div>
    <div class="last-updated">
      <div ng-show="ajaxing">
        loading...
      </div>
      <div ng-hide="ajaxing || !lastUpdatedAgo">
        <em>updated {{ lastUpdatedAgo }} ago (pull to refresh)</em>
      </div>
    </div>

    <div ng-hide="ajaxing">
      <div class="info-page-content" ng-show="transactions | none">
        <h3>Nope</h3>

        <p>
          No transactions for week {{ week }}
        </p>
      </div>
    </div>

    <rsa-transaction
      ng-repeat="transaction in unreadTransactions"
      transaction="transaction"
      league-id="leagueId"
      week="week"
    ></rsa-transaction>

    <div class="unread-news" ng-show="readTransactions | any">
      <span class="unread-news__label">
        //
        <span ng-show="unreadTransactions | any">end</span>
        <span ng-hide="unreadTransactions | any">no new</span>
        unread transactions
      </span>
    </div>

    <rsa-transaction
      ng-repeat="transaction in readTransactions"
      transaction="transaction"
      league-id="leagueId"
      week="week"
    ></rsa-transaction>
  </ion-content>
</ion-view>
