<ion-view view-title="Check for App Updates">
  <ion-content padding="true">
    <div ng-show="(checking || downloading || extracting)">
      <p>
        Checking for updates...
      </p>
    </div>

    <div ng-show="(downloading || extracting)">
      <p>
        Downloading update... ({{ downloadPercentComplete }}%)
      </p>
    </div>

    <div ng-show="extracting">
      <p>
        Installing update... ({{ extractionPercentComplete }}%)
      </p>
    </div>

    <div ng-show="hasUpdate === false">
      <p>
        Your app is up to date!
      </p>
    </div>
  </ion-content>
</ion-view>
