# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.sass-cache/
*.apk
*.cer
*.ipa
*.mobileprovision

resources/android/tile-icon-white-with-background/
resources/android/tile-icon-white/
resources/ios/tile-icon-white-with-background/
resources/ios/tile-icon-white/

content/
