<div class="scoreboard box-score" ui-sref="app.game({ leagueId: leagueId, week: boxScore.week, gameId: boxScore.gameId })">
  <div class="row row-center">
    <div class="col col-2-15 team-image">
      <img ng-src="{{ boxScore.awayTeam.imageUrl }}" width="90%" />
    </div>
    <div class="col col-67 team-name">
      <div class="row row-no-padding">
        <div class="col-10 rank" ng-show="standingsData.away">
          {{ standingsData.away.rank }}
        </div>
        <div class="col-90 one-liner">
          <span class="team-name">
            {{ boxScore.awayTeam.team.name }}
          </span>
          <span class="record" ng-show="standingsData.away">
            ({{ standingsData.away | teamRecord:standingsData.summary.hasTies }})
          </span>
        </div>
      </div>
    </div>
    <div class="col col-20 number">
      {{ boxScore.awayTeam.summary.totalPoints | toFixed:2 }}
    </div>
  </div>
  <div class="row row-center">
    <div class="col col-2-15 team-image">
      <img ng-src="{{ boxScore.homeTeam.imageUrl }}" width="90%" />
    </div>
    <div class="col col-67 team-name">
      <div class="row row-no-padding">
        <div class="col-10 rank" ng-show="standingsData.home">
          {{ standingsData.home.rank }}
        </div>
        <div class="col-90 one-liner">
          <span class="team-name">
            {{ boxScore.homeTeam.team.name }}
          </span>
          <span class="record" ng-show="standingsData.home">
            ({{ standingsData.home | teamRecord:standingsData.summary.hasTies }})
          </span>
        </div>
      </div>
    </div>
    <div class="col col-20 number">
      {{ boxScore.homeTeam.summary.totalPoints | toFixed:2 }}
    </div>
  </div>
</div>
