<form ng-submit="submit()">
	<div class="item item-input item-input-inset input-wrapper">
		<label>
			<input type="text" placeholder="Name" ng-model="filters.txtSearch">
		</label>

		<button type="button" class="button button-icon button-clear icon-right ion-close-circled placeholder-icon input-field-icon" ng-disabled="!filters.txtSearch.length" ng-click="clearTxtSearch()"></button>
	</div>

	<div class="input-wrapper radio-set items-5">
		<label class="radio-item" ng-repeat="position in positions" ng-class="{ checked: filters.posFilter === position }">
			<input type="radio" ng-model="filters.posFilter" ng-value="position" ng-checked="position === filters.posFilter">

			{{ position }}
		</label>
	</div>

	<div class="input-wrapper radio-set items-3">
		<label class="radio-item" ng-repeat="(key, val) in playerFilterOptions" ng-class="{ checked: filters.playerFilter === key }">
			<input type="radio" ng-model="filters.playerFilter" ng-value="key" ng-checked="key === filters.playerFilter">

			{{ val }}
		</label>
	</div>

	<div class="input-wrapper actions button-bar">
		<button type="reset" class="button button-stable" ng-click="reset()">
			Clear Filters
		</button>

		<button type="submit" class="button button-positive">
			Apply Filters
		</button>
	</div>
</form>
