<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">
      {{ player | playerFullName }}
    </h1>

    <button class="button button-clear" ng-click="closeModal()">Close</button>
  </ion-header-bar>

  <ion-content padding="true">
    <div ng-controller="PlayerModalController" class="player-detail-modal">
      <rso-player-detail
        player="player"
        league-id="leagueId"
        player-id="player.playerId"
        on-request="beginIndicateAjaxing()"
        on-complete="endIndicateAjaxing()"
        on-error="retryOnRsoError(response)">
      </rso-player-detail>
    </div>
  </ion-content>
</ion-modal-view>
